/* ==========================================================================
   Color variables
   ========================================================================== */

/**
 * Shades of gray
 */

$color-black: #000;
$color-white: #fff;

/**
 * Accent colors
 */

$color-red: #f00;
$color-green: #0f0;
$color-blue: #00f;

/**
 * Body colors
 */

$color-body-background: #fff;
$color-body-text: #000;

/**
 * Links
 */

$color-link: #f0f;
$color-link-hover: #742489;