/* ==========================================================================
   Typography variables
   ========================================================================== */

/**
 * Font related
 */

$base-font-family: Arial, sans-serif;
$base-font-size: 14px;
$base-line-height: 20px;

/**
 * Heading sizes
 */

$font-size-giga: 96px;
$font-size-mega: 72px;
$font-size-kilo: 48px;

$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-h6: 14px;

$font-size-milli: 12px;
$font-size-micro: 10px;
$font-size-nano: 8px;